body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u17810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17810 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:20px;
  width:390px;
  height:844px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17811 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:80px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17812 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:80px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17813 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:80px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17814 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:80px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17816 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:194px;
  width:370px;
  height:270px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17817 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:310px;
  width:110px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:18px;
}
#u17818 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:264px;
  width:330px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:18px;
}
#u17818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17819 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:435px;
  width:60px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17819_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17820 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:435px;
  width:48px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17821 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:435px;
  width:60px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u17822 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:214px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u17824 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:219px;
  width:78px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u17824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17825 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:237px;
  width:31px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17826 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:168px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17827 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:168px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u17827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u17828 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:33px;
  width:50px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u17829 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:108px;
  width:370px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u17829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u17829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u17830 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:33px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17832 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:474px;
  width:370px;
  height:270px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17833 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:590px;
  width:110px;
  height:110px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:18px;
}
#u17834 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:544px;
  width:330px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:18px;
}
#u17834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17835 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:715px;
  width:60px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17836 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:715px;
  width:48px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17837 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:715px;
  width:60px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:25px;
  filter:drop-shadow(none);
  transition:none;
}
#u17838 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:494px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u17840 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:499px;
  width:78px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  line-height:13px;
}
#u17840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17841 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:517px;
  width:31px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17843 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:794px;
  width:390px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17845 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:808px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17846 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:843px;
  width:24px;
  height:9px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17848 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:808px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17849 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:843px;
  width:24px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17851 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:808px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17852 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:843px;
  width:24px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17854 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:808px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17855 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:843px;
  width:24px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u17857 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:808px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u17858 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:843px;
  width:24px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u17858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u17859 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:28px;
  width:102px;
  height:35px;
  display:flex;
  transition:none;
}
#u17859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u17859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
