body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:1166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:1166px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:450px;
  height:250px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:13px;
  filter:drop-shadow(none);
  transition:none;
  font-size:11px;
  line-height:11px;
}
#u16333 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:21px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:11px;
  line-height:11px;
}
#u16333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u16334 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:28px;
  width:64px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:16px;
}
#u16334 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16335 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:144px;
  width:408px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16335 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16336 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:508px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16336 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16337 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:385px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16338 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:385px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u16339 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:21px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u16339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u16340 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:21px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u16340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u16341 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:21px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u16341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1070px;
  width:450px;
  height:146px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:18px;
}
#u16343 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1154px;
  width:300px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:18px;
}
#u16343 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u16345 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1094px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u16346 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:1094px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16347 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:508px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16347 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16348 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:677px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16348 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16349 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:554px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16350 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:554px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16351 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:677px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16351 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16352 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:846px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16352 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16353 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:723px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16354 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:723px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16355 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:846px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16355 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16356 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1015px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16356 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16357 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:892px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16358 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:892px;
  width:200px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  line-height:18px;
}
#u16359 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1015px;
  width:200px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  line-height:18px;
}
#u16359 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:19px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16360 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:330px;
  width:78px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16360 .text {
  position:absolute;
  align-self:center;
  padding:8px 15px 8px 15px;
  box-sizing:border-box;
  width:100%;
}
#u16360_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u16361 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:188px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u16361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16362 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:338px;
  width:48px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16362 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16362_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16363 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:338px;
  width:48px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16363 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16363_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16364 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:338px;
  width:48px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16364 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  line-height:24px;
}
#u16365 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:338px;
  width:48px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  line-height:24px;
}
#u16365 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u16366 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:60px;
  width:450px;
  height:250px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u16366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:24px;
  text-align:center;
  line-height:30px;
}
#u16368 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:125px;
  width:300px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:24px;
  text-align:center;
  line-height:30px;
}
#u16368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  line-height:12px;
}
#u16369 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:205px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  line-height:12px;
}
#u16369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
